#!/bin/bash

# don't put duplicate lines in the history. See bash(1) for more options
# don't overwrite GNU Midnight Commander's setting of `ignorespace'.
export HISTCONTROL=$HISTCONTROL${HISTCONTROL+,}ignoredups
# ... or force ignoredups and ignorespace
export HISTCONTROL=ignoreboth

export SVN_EDITOR=vim
export CLICOLOR=1
export LSCOLORS=ExFxCxDxBxegedabagacad

export JAVA_HOME=`/usr/libexec/java_home`
export JAVA_OPTS="-Dfile.encoding=utf-8"

export ZK_HOME=/usr/local/zookeeper
export BOOST_HOME=~/local/svn/boost
export CLASSPATH=$CLASSPATH:~/local/svn/clj.debug/src/
export DISPLAY=:0.0
export CLOJURESCRIPT_HOME=$HOME/local/self/clojurescript
export ANTX_HOME=/usr/alibaba/antx
export CLOUDENGINE_HOME=/usr/alibaba/cloudengine-3.1.7
export GOPATH=$HOME/local/self/go
export HIVE_HOME=/usr/local/hive
export HADOOP_HOME=/usr/local/hadoop
export CATALINA_HOME=/usr/local/tomcat
export STORM_HOME=/usr/local/storm
export DOTFILES_HOME=/Users/xumingmingv/local/self/dotfiles
export BTRACE_HOME=/usr/local/btrace
export JMETER_HOME=/usr/local/jmeter
export ODPS_CMD_HOME=/Users/xumingmingv/local/self/odpscmd
export ODPS_CLI_HOME=/Users/xumingmingv/local/self/odps-cli
# at last, the PATH
export PATH=$PATH:/opt/local/bin:$ZK_HOME/bin:$BOOST_HOME:$CLOJURESCRIPT_HOME/bin:$ANTX_HOME/bin:$GOPATH/bin:$JAVA_HOME/bin:/usr/local/hadoop/bin:$HIVE_HOME/bin:$STORM_HOME/bin:$DOTFILES_HOME/:$BTRACE_HOME/bin:$JMETER_HOME/bin:$ODPS_CMD_HOME/bin:$ODPS_CLI_HOME/bin
# Add the ~/bin directory to the path.  This allows you to install simple
# binaries by simply moving them into ~/bin.
if [ -d $HOME/bin ]; then
	export PATH="$HOME/bin:$PATH"
fi
