#!/bin/bash

export ZK_HOME=/usr/local/zookeeper
export BOOST_HOME=~/local/svn/boost
export PATH=$PATH:$ZK_HOME/bin:$BOOST_HOME
export CLASSPATH=$CLASSPATH:~/local/svn/clj.debug/src/
export DISPLAY=:0.0
export MAIN_HOST=10.16.24.39