#!/bin/bash

femacs() {
    filename=`find . -name $1`
    emacs $filename
}

switch-m2-settings() {
  cp ~/local/self/dotfiles/.m2settings/settings-$1.xml ~/.m2/settings.xml
}

jkill() {
  jps -v | grep $1 | awk '{print $1}' | xargs kill -9
}

gen-etags() {
  find . -name "*.java" -print | etags --append --member --output=$HOME/local/svn/dotfiles/TAGS -
}

. ~/local/self/dotfiles/.functions-storm
. ~/local/self/dotfiles/.functions-alibaba
